.OrdersCards {
  display: flex;
  flex-direction: column; /* <--- stack vertically */
  gap: 10px;
  width: 100%;
}

.parentContainer {
  width: 100%;
}

/* You can now REMOVE flex-direction from the media query */
@media screen and (max-width: 1200px) {
  .parentContainer {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .OrdersCards {
    width: 90%;
  }
}
